/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

/*CSS - Cascading Style Set
Outside In. Look at the containers and then do
things on the inside. Comment out general things
that apply to the whole page.*/
/****************/
/*navigation_bar*/
/****************/

body{
  margin: 0;
  padding: 0;
  background-color: #f2f1e8;
  font-family: #131511; /*invalid text?*/
}

#navigation_bar {
  background-color: #ffffff;
  box-shadow: 0px 1px 5px lightgrey;
  display: flex;
}

#logo img {
  block-size: 45px;
  padding: 7px;
}

.main_navigation {
  font-family: #2b2f26;
  align-self: center;
  flex-basis: 100%;
  text-align: center;
}

.main_navigation a{
  padding: 35px;
}

a:hover{
  color:  #968772;
}
a:active a{
  color: #967343;
}

/********/
/*Footer*/
/********/

footer{
  padding: 20px;
  background-color: #968772;
}

/*******************/
/*Home Page Styling*/
/*******************/

#title{
  text-align: center;
  font-size: 25px;
}

#title h1{
  margin-top: 30px;
  margin-bottom: 0px;

}

#title h3{
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 30px;
}

.picture-navigation{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #F2F1E8;
}

.picture-navigation p{
  background-color: #968772;
  padding: 5px;
  margin: 0px;
}

.first_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.second_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#endlessPossibilities{
  background-image: url("../images/product-1.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/
}
#sets{
  background-image: url("../images/product-2.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/

}
#textures{
  background-image: url("../images/product-3.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/

}
#tea-time{
  background-image: url("../images/product-4.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/

}
#jars-and-containers{
  background-image: url("../images/product-5.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/

}
#wasabi-and-saki{
  background-image: url("../images/product-6.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/

}
#sippin-on-sunshine{
  background-image: url("../images/product-7.jpg");
  background-size: cover;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  /*margin: 10px;*/


}
